<section>
  <div class="container col-lg-9 ">
    <div class="d-flex justify-content-around">
      <div class="circle d-flex align-items-center">
        <img src="../../assets/icons/ic_build_black_48px.svg" width="48px">
        <p class="text-center">It’s our job.</p>
      </div>
      <div class="circle d-flex align-items-center">
        <img src="../../assets/icons/ic_timeline_black_48px.svg" width="48px">
        <p class="text-center">It’s our mission.</p>
      </div>
      <div class="circle d-flex align-items-center">
        <img src="../../assets/icons/ic_bookmark_border_black_48px.svg" width="48px">
        <p class="text-center">It’s our promise.</p>
      </div>
    </div>
  </div>
</section>