<section>
  <div class="container col-lg-9 ">
    <div class="d-flex justify-content-around">
      <md-card class="card d-flex justify-content-center">
        <img md-card-image class="m-auto" src="../../assets/img/IMG_0390.JPG">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </md-card-content>
      </md-card>
      <md-card class="card d-flex justify-content-center">
        <img md-card-image class="m-auto" src="../../assets/img/IMG_0390.JPG">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </md-card-content>
      </md-card>
      <md-card class="card d-flex justify-content-center">
        <img md-card-image class="m-auto" src="../../assets/img/IMG_0390.JPG">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>