<section>
  <div class="container col-lg-9 ">
    <div class="d-flex justify-content-around">

      <!--<md-card class="card d-flex justify-content-center">
        <img md-card-image class="m-auto" src="../../assets/icons/ic_build_black_48px.svg">
        <md-card-content>
          <p class="text-center">It’s our job.</p>
        </md-card-content>
      </md-card>
      <md-card class="card d-flex justify-content-center">
        <img md-card-image class="m-auto" src="../../assets/icons/ic_timeline_black_48px.svg">
        <md-card-content>
          <p class="text-center">It’s our mission.</p>
        </md-card-content>
      </md-card>
      <md-card class="card d-flex justify-content-center">
        <img md-card-image class="m-auto" src="../../assets/icons/ic_bookmark_border_black_48px.svg">
        <md-card-content>
          <p class="text-center">It’s our promise.</p>
        </md-card-content>
      </md-card>-->

      <div class="circle d-flex align-items-center">
        <img src="../../assets/icons/ic_build_black_48px.svg" width="48px">
        <p class="text-center">It’s our job.</p>
      </div>
      <div class="circle d-flex align-items-center">
        <img src="../../assets/icons/ic_timeline_black_48px.svg" width="48px">
        <p class="text-center">It’s our mission.</p>
      </div>
      <div class="circle d-flex align-items-center">
        <img src="../../assets/icons/ic_bookmark_border_black_48px.svg" width="48px">
        <p class="text-center">It’s our promise.</p>
      </div>
    </div>
  </div>
</section>