section {
    background: #E8DCCD;
    width: 100%;
    padding: 2rem;

    .container {
        min-height: 100%;
    }

    md-card {
        height: 100%;
        width: 200px;

        img {
            border-radius: 50%;
            height: 100px;
            width: 100px;
        }
    }
}