section {
    background: #E8DCCD;
    width: 100%;
    padding: 2rem;

    .container {
        min-height: 100%;
    }

    // md-card {
    //     height: 100%;
    //     width: 200px;

    //     img {
    //         border-radius: 50%;
    //         height: 100px;
    //         width: 100px;
    //     }
    // }

    .circle {
        border: 2px solid #FFE5E1;
        border-radius: 50%;
        height: 150px;
        width: 150px;

        img {
            margin: 0;
            position: relative;
            top: -25px;
            left: 51px;
        }

        p {
            margin: 0;
            position: relative;
            bottom: -25px;
            left: -22px;
        }
    }
}