<md-toolbar>
  <div class="col-xs-12 col-lg-9 mx-auto">
    <span class="footer">
      <button md-button routerLink="/home" routerLinkActive="active">Home</button>
      <button md-button routerLink="/about" routerLinkActive="active">About</button>
      <button md-button routerLink="/gallery" routerLinkActive="active">Gallery</button>
      <button md-button routerLink="/contact" routerLinkActive="active">Contact</button>
    </span>
  </div>
  <md-toolbar-row>
    <div class="col-xs-12 col-lg-9 mx-auto">
      <div class="social col-2 d-flex justify-content-around">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-pinterest-square" aria-hidden="true"></i>
      </div>
    </div>
  </md-toolbar-row>
</md-toolbar>