md-toolbar {
    background: #E8D4CD;
    height: 100px;
    
    p {
        font-size: 12px;
    }
}

.footer {
    background: #E8D4CD;
    font-size: .75rem;

    .icons {
        width: 150px;
    }
}