<!--<md-toolbar>
    <div class="row">
      <div class="col-xs-12 col-lg-9 m-auto align-items-center">
        <div class="social col-2 d-flex justify-content-around align-items-center mx-auto pt-4">
          <md-icon><i class="fa fa-facebook-square" aria-hidden="true"></i></md-icon>
          <md-icon><i class="fa fa-instagram" aria-hidden="true"></i></md-icon>
          <md-icon><i class="fa fa-pinterest-square" aria-hidden="true"></i></md-icon>
        </div>
        <div class="col-xs-12 col-lg-9 mx-auto">
          <p class="">
            <div class="w-100">
            Copyright 2017 Rancho Kitchen & Bath, Inc. | 
            Site design handcrafted by Danilo Carandang
            </div>
            </p>
        </div>
      </div>
    </div>
</md-toolbar>-->

<div class="footer">
  <div class="row m-0">
    <div class="col-12 d-flex justify-content-center align-items-center pt-4 pt-4">
      <div class="icons d-flex justify-content-around">
        <md-icon><i class="fa fa-facebook-square" aria-hidden="true"></i></md-icon>
        <md-icon><i class="fa fa-instagram" aria-hidden="true"></i></md-icon>
        <md-icon><i class="fa fa-pinterest-square" aria-hidden="true"></i></md-icon>
      </div>
    </div>
    <div class="col-12 text-center">
        <p>Copyright 2017 Rancho Kitchen & Bath, Inc. | Site design handcrafted by Danilo Carandang</p>
    </div>
  </div>
</div>