<section>
  <div class="container col-lg-9">
    <div class="d-flex justify-content-around">
      <div class="col d-flex align-items-center justify-content-around">
        <img src="../../assets/icons/ic_phone_black_48px.svg" alt="phone icon" class="d-inline">
        <p>858.618.3300</p>
      </div>
      <div class="col d-flex align-items-center justify-content-around">
        <img src="../../assets/icons/ic_map_black_48px.svg" alt="map icon" class="d-inline">
        <p>12335 World Trade Drive, Suite #1<br>
        San Diego, CA 92128</p>
      </div>
      <div class="col d-flex align-items-center justify-content-around">
        <img src="../../assets/icons/ic_format_quote_black_48px.svg" alt="quote icon" class="d-inline">
        <button md-button>GET A FREE QUOTE</button>
      </div>
    </div>
  </div>
</section>