<section>
  <div class="container col-lg-9">
    <div class="d-flex justify-content-around">
      <div class="col d-flex align-items-center justify-content-center">
        <p>858.618.3300</p>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <p>12335 World Trade Drive, Suite #1<br>
        San Diego, CA 92128</p>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <!--<div class="d-flex align-items-center">-->
          <button md-button>GET A FREE QUOTE</button>
        <!--</div>-->
      </div>
    </div>
  </div>
</section>