<section>
  <h1 class="col-6 mx-auto">ABOUT US</h1>
  <div class="container col-lg-9 d-flex justify-content-center">
    <div class="col-lg-12 mx-auto">
      <p>Rancho Kitchen and Baths, Inc. is a local independent family-owned and operated business. Our number one goal is to treat our clients with care and respect. We strive to make everyone we work with feel their job is our top priority. Our staff members are real people who care about your dreams and will make every effort to make them a reality.</p>
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="col-6" id="AboutImage">
          <img src="../../assets/img/IMG_0390.JPG" alt="AboutImage">
        </div>
        <div class="col-6">
          <div class="block">
            <h3>Move or Remodel?<br>
            That is the question!</h3>
            <p>Have you toured new home construction in San Diego County recently? Granted the houses are beautiful and the kitchen and bathroom designs are breathtaking, unfortunately so are the prices.</p>
            <p>It is possible to capture and incorporate the same beautiful aspects of a “new dream home design” into your current residence, without the new home price tag.</p>
            <p>Our talented and professional “design build” team can turn your ideas and dreams into reality. Unique designs, beautiful cabinetry and rich finish materials, create rooms that inspire the best life possible in truly exceptional surroundings.</p>
          </div>
          <!--<div class="block text-center">
            <p><strong>It’s our job.</strong></p>
            <p><strong>It’s our mission.</strong></p>
            <p><strong>It’s our promise.</strong></p>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<our-promise></our-promise>