* {
    letter-spacing: 1px;
    color: white;
}

.carouselWrapper {
    background: floralwhite;

    .carousel {
        height: 30rem;
        padding: 0;
        max-width: 1200px;
    }

    .carousel-item {
        background: floralwhite;
        height: 30rem;
    }
}