* {
    letter-spacing: 1px;
}

section {
    background: #FFF5E1;
    width: 100%;
    padding-bottom: 2rem;

    .container {
        min-height: 100%;
    }

    h1 {
        border-bottom: 2px solid #E8D4CD;
        padding-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 2;
    }

    p {
        line-height: 2;
        padding: 3rem 0;
    }

    md-grid-tile {
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }
        
    .tile:hover {
        cursor: pointer;
    }

    .viewbox {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        max-height: 100vh;
        width: 100%;
        max-width: 100vw;
        background: rgba(33, 33, 33, 0.9);
        z-index: 1;
        
        img {
            max-width: 100vw;
            max-height: 100%;
            padding: .5rem;
        }
        img:hover {
            cursor: pointer;
        }
    }

}