.brand {
    background: floralwhite;
    text-align: center;
}

.brand > h1 {
    font-size: 6rem;
    margin: 0;
}

.brand > img {
    width: 300px;
}

.brand > img:hover {
    cursor: pointer;
}

.address-bar {
    background: floralwhite;
    /*color: seashell;*/
    font-size: .75rem;
    letter-spacing: 2px;
    text-align: center;
}