<div class="box d-flex align-items-center">
  <div class="col-lg-9 mx-auto d-flex justify-content-between">
    <div class="">
      <h3>Start your home remodeling project today!</h3>
      <p>Get your free quote</p>
    </div>
    <div class="d-flex align-items-center">
      <button md-button>REQUEST A QUOTE</button>
    </div>
  </div>
</div>

<section>
  <h1 class="col-6 mx-auto">OUR SERVICES</h1>
  
  <div class="container col-lg-9 d-flex justify-content-around">
    <md-card class="card">
      <img md-card-image src="../../assets/img/IMG_0364.JPG">
      <md-card-content>
        <h4 class="text-center pt-3">Kitchen Remodels</h4>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </md-card-content>
    </md-card>
    <md-card class="card">
      <img md-card-image src="../../assets/img/IMG_0390.JPG">
      <md-card-content>
        <h4 class="text-center pt-3">Kitchen Remodels</h4>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </md-card-content>
    </md-card>
    <md-card class="card">
      <img md-card-image src="../../assets/img/IMG_0384.JPG">
      <md-card-content>
        <h4 class="text-center pt-3">Bath Remodels</h4>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </md-card-content>
    </md-card>
  </div>

  <div class="col-lg-6 mx-auto d-flex justify-content-around align-items-center">
    <h2>EXPLORE OUR SERVICES</h2>
    <button md-button>VIEW ALL SERVICES</button>
  </div>
</section>