<section>
  <h1 class="col-6 mx-auto">ABOUT US</h1>
  <div class="container col-lg-9 d-flex justify-content-center">
    <div class="col-lg-12 mx-auto">
      <p>Rancho Kitchen and Baths, Inc. is a local independent family-owned and operated business. Our number one goal is to treat our clients with care and respect. We strive to make everyone we work with feel their job is our top priority. Our staff members are real people who care about your dreams and will make every effort to make them a reality.</p>
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="col-6">
          <img src="../../assets/img/fullKitchenRemoveBottleLabels.jpg" alt="AboutImage" width="100%" height="400px">
        </div>
        <div class="col-6">
          <div class="block">
            <h3>First About Heading</h3>
            <p>Provident illo earum quas veniam facilis tempora delectus aliquam enim quod consequatur!</p>
          </div>
          <div class="block">
            <h3>Second About Heading</h3>
            <p>Provident illo earum quas veniam facilis tempora delectus aliquam enim quod consequatur!</p>
          </div>
          <div class="block">
            <h3>Third About Heading</h3>
            <p>Provident illo earum quas veniam facilis tempora delectus aliquam enim quod consequatur!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>