section {
    background: #FFF5E1;
    width: 100%;
    padding-bottom: 2rem;

    .container {
        min-height: 100%;
    }

    h1 {
        border-bottom: 2px solid #E8D4CD;
        padding-top: 4rem;
        text-align: center;
        line-height: 2;
    }

    p {
        line-height: 2;
        padding: 3rem 0;
    }

    div.col-6 {
        h3 {
            // line-height: 2;
        }
        
        p {
            padding: 0 0 2rem 0;
            line-height: 1.5;
        }
    }
}