<div id="testimonialCarousel" class="carousel slide col-lg-12 mx-auto" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimonialCarousel" data-slide-to="1"></li>
    <li data-target="#testimonialCarousel" data-slide-to="2"></li>
    <li data-target="#testimonialCarousel" data-slide-to="4"></li>
    <li data-target="#testimonialCarousel" data-slide-to="5"></li>
    <li data-target="#testimonialCarousel" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="carousel-caption d-none d-md-block">
        <img class="d-block mx-auto" src="../../assets/icons/ic_question_answer_black_48px.svg" alt="First slide">
        <p>“The staff at Rancho Kitchen and Baths did a great job designing and installing our beautiful kitchen. The installers were pleasant, respectful and clean. My son was sad to see them go when the job was finished. The experience was wonderful and we look forward to remodeling our master bathroom in the very near future.”</p>
        <h4 class="d-inline">Kelly</h4>
        <p class="d-inline">Poway, CA</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <img class="d-block mx-auto" src="../../assets/icons/ic_question_answer_black_48px.svg" alt="Second slide">
        <p>“What a breath of fresh air! That’s what it felt like when I met with my designer. She was friendly and enthusiastic, not snobby like some places I had visited. My designer helped me put together my dream kitchen and I just love it. Thank you Rancho Kitchen and Baths for making my remodel a success!”</p>
        <h4 class="d-inline">Nicole</h4>
        <p class="d-inline">Rancho Penasquitos, CA</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <img class="d-block mx-auto" src="../../assets/icons/ic_question_answer_black_48px.svg" alt="Third slide">
        <p>“Kudos to a great company that thinks of their clients needs. Dave created a detailed schedule of our project and actually completed our project a few days early. It was a pleasure to deal with such conscientious people. I would recommend Rancho Kitchen and Baths to any of my friends with confidence.”</p>
        <h4 class="d-inline">Paul</h4>
        <p class="d-inline">Rancho Bernardo, CA</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <img class="d-block mx-auto" src="../../assets/icons/ic_question_answer_black_48px.svg" alt="Fourth slide">
        <p>“Thank you for our beautiful master bathroom. It is the sanctuary I always hoped to have, and the old bathroom is nothing but a distant memory.”</p>
        <h4 class="d-inline">Carol</h4>
        <p class="d-inline">Carmel Mountain Ranch, CA</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <img class="d-block mx-auto" src="../../assets/icons/ic_question_answer_black_48px.svg" alt="Fifth slide">
        <p>“My home is a show place. I have three new fantastic bathrooms and a gourmet kitchen. My house is like a model and I love it.”</p>
        <h4 class="d-inline">Maureen</h4>
        <p class="d-inline">Poway, CA</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <img class="d-block mx-auto" src="../../assets/icons/ic_question_answer_black_48px.svg" alt="Sixth slide">
        <p>"Remodeling our kitchen was a very good experience. RKB's crew was polite and courteous and showed quality workmanship and expertise. We are pleased with the outcome and love our beautiful kitchen."</p>
        <h4 class="d-inline">Jennifer</h4>
        <p class="d-inline">Rancho Penasquitos, CA</p>
      </div>
    </div>
  <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
    <span aria-hidden="true"><md-icon>keyboard_arrow_left</md-icon></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
    <span aria-hidden="true"><md-icon>keyboard_arrow_right</md-icon></span>
    <span class="sr-only">Next</span>
  </a>
</div>