/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*color pallette:
    #FFF5EE
    #FFF5E1
    #E8DCCD
    #E8D4CD
    #FFE5E1*/

* {
    box-sizing: border-box;
    color: #555;
}

body {
    margin: 0;
}

.container {
    /*background: floralwhite;*/
    /*margin: 1rem 0;*/
    /*padding: .5rem;*/

    min-height: 100vh;
    height: 100%;
}

p {
    margin: 0;
    padding: 1rem;
}