/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*color pallette:
    #FFF5EE
    #FFF5E1
    #E8DCCD
    #E8D4CD
    #FFE5E1*/

* {
    box-sizing: border-box;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.container {
    /*background: floralwhite;*/
    /*margin: 1rem 0;*/
    /*padding: .5rem;*/

    min-height: 100vh;
    height: 100%;
}

h1 {
}

p {
    margin: 0;
    padding: 1rem;
}

.mat-menu-content {
    background: floralwhite;
}